@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply max-sm:text-[28px] max-md:text-[30px] text-[67px];
  }
  h2 {
    @apply text-[54px];
  }
  h3 {
    @apply max-sm:text-[20px] max-md:text-[30px] text-[38px];
  }
  h4 {
    @apply text-[28px];
  }
  h5 {
    @apply text-[22px];
  }
  p {
    @apply max-sm:text-sm max-md:text-base text-[22px];
  }
}

@layer components {
  .tabsNav {
    @apply whitespace-nowrap inline-flex rounded-lg py-2 px-3 max-sm:px-2 text-sm max-sm:text-xs font-medium text-gray-600 transition-all duration-200 ease-in-out hover:bg-gray-200 hover:text-gray-900 active:bg-gray-400 active:text-gray-900;
  }
  .trans {
    @apply transition-all duration-300;
  }
  .labelStyle {
    @apply absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-75 transform cursor-text select-none bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600;
  }
  .btn1 {
    @apply grid w-full cursor-pointer select-none rounded-md border border-accent bg-accent py-2 px-5 max-sm:px-3 text-center align-middle text-sm text-white shadow hover:border-accent hover:bg-accent/90 hover:text-white focus:border-accent focus:bg-accent/90 focus:text-white focus:shadow-none trans;
  }
  .footer_list {
    @apply text-base text-neutral-400 font-worksans cursor-pointer hover:text-neutral-500 transition-all duration-300;
  }
  .footer_list_head {
    @apply text-[22px] text-white font-bold capitalize font-spacemono;
  }
  .px_res {
    @apply xl:px-10 max-md:px-0 md:px-5;
  }
  .px_page {
    @apply px-0 md:px-10 max-lg:px-[20px];
  }
}

/* .grid_res {
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
